.task-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.task-form h1 {
    text-align: center;
}
.task-form input[type="text"],
.task-form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.task-form label {
    display: block;
    margin-bottom: 5px;
}
.task-form button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
.task-form button[type="button"] {
    background-color: #6c757d;
}
.task-form button:hover {
    opacity: 0.8;
}
/*
.page{
    width: 30wh;
    height: 75vh;
    border-radius: 15px;

}
.Header{
    display: flex;
   
    width: auto;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    

}
.Header p{
    font-size: 1.2rem;
    font-weight: 600;
}
.btn{
   width: auto;
   
}
.btn button{
   all: unset;
   font-size: 1.4rem;
   padding: 0px 10px;
}
 */
